<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta name="author" content="Jonathan Barber"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>

    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/text.css" rel="stylesheet" type="text/css" />
    <link href="/css/960.css" rel="stylesheet" type="text/css" />

    <link href="/css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="/css/shThemeDefault.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/shCore.js"></script>
    <script type="text/javascript" src="/js/shBrushBash.js"></script>
    <script type="text/javascript" src="/js/shBrushXml.js"></script>
    <script type="text/javascript" src="/js/shBrushJScript.js"></script>
    <script type="text/javascript" src="/js/shBrushPython.js"></script>
    <script type="text/javascript" src="/js/shBrushJava.js"></script>
    <script type="text/javascript">
      //SyntaxHighlighter.defaults['gutter'] = false;
      SyntaxHighlighter.defaults['toolbar'] = false;
      SyntaxHighlighter.all();
    </script>
  </head>
  <body>
    <div class="container_12">
      <div class="grid_10">
        {{ content }}
      </div>
      <div class="clear"></div>
    </div>
  </body>
</head>
